* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  outline: 0;
}

html,
body {
  background-color: #1f1f1f;
  /* text-decoration: none; */
  height: 100%;
}

header {
  position: fixed;
  /*
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; */
  background-color: #161616;
  padding: auto;
  z-index: 4;
  width: 100%;
}

.nav_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #161616;
  align-items: center;
  z-index: 4;
  width: 80%;
  margin: auto;
  padding: auto;
  z-index: 6;
}

.website_container {
  min-height: 100%;
  width: 100%;
  overflow: auto;
  padding-bottom: 0px;
  cursor: auto;
}

.text_container {
  position: absolute;
  padding: 0px;
  margin: 0px;
}

.landing_page {
  background-color: #161616;
}

.logo-image {
  max-height: 50px;
  padding: 0px;
  padding-top: 5px;
  margin: 0px;
  cursor: pointer;
  z-index: 6;
}
nav {
  flex: auto;
  position: relative;
  float: right;
  padding: 0px;
  z-index: 6;
}

.nav_links {
  list-style: none;
  text-decoration: none;
  justify-content: space;
  z-index: 6;
}

.nav_links li {
  display: inline-block;
  font-size: 18px;
  padding: 10px 30px;
  top: 10px;
  float: right;
  z-index: 6;
}

.nav_links li a {
  text-decoration: none;
  color: white;
  z-index: 6;
}

ul,
li:hover {
  top: 8px;
  transition: 0.3s;
}

.curtis_head {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 60vh;
  width: 100vw;
  bottom: -30rem;
  z-index: 1;
  position: absolute;
  color: white;
  font-size: 1rem;
  background: linear-gradient(90deg, #383838 0%, #a3a3a3 100%);
}

.curtis_head img {
  display: flex;
  align-items: center;
  align-content: center;
  max-height: 200px;
  max-width: auto;
  padding: 20px;
}

.head_words {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
}

.curtis_head h3 {
  font-size: 1rem;
}

.imdb {
  height: auto;
  width: 90px;
  margin: 0px;
}

.imdb_img {
  text-align: center;
  margin: 0px;
}

.image-container {
  position: relative;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.projects {
  font-family: "Impact";
  background-image: -webkit-linear-gradient(160deg, #212121 50%, #323232 50%);
  font-size: 5rem;
  color: #d19358;
  margin-top: 54px;
  text-align: center;
  padding: 20px;
  text-shadow: 5px 5px #161616;
}

/* .projects h1 {
  font-family: "Impact", sans-serif;
  text-decoration: none;
  color: #d19358;
  text-shadow: 2px 2px 2px #161616;
  margin-top: 40px;
  outline: 0;
  font-size: 40px;
} */

h1 {
  text-decoration: none;
}

.before_they_were_them {
  padding-right: 5%;
  width: 700px;
  text-align: center;
  outline: 0;
  text-decoration: none;
}
iframe {
  border-radius: 5px;
  z-index: 4;
}

.projects_page_container {
  /* background-image: url("BTWTtitletrans.png"); */
  z-index: 5;
}

.projects_container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
}

.awards_thumbnail {
  height: 300px;
  width: 500px;
}

.thumbnail_holder {
  display: flex;
  flex-direction: row;
}

.project_img {
  width: 100vw;
  text-align: center;
  z-index: 5;
}

.project_1_poster {
  width: 80vw;
  height: auto;
  border: 10px solid black;
  border-radius: 20px;
  z-index: 0;
  cursor: pointer;
}

.project_1_poster:hover {
  width: 81vw;
  transition: 0.3s;
}

.project_1 {
  float: left;
  padding-top: 10%;
  z-index: 4;
  max-width: 650px;
  border-radius: 8px;
  text-align: center;
  z-index: 5;
}

.project_1_wording_container {
  text-align: center;
}

.project_1_wording {
  max-width: 80vw;
  font-size: 1rem;
  margin-top: 2rem;
  margin-left: 10%;
}
.project_1_wording h3 {
  font-size: 1rem;
}

.video_holder {
  text-align: center;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  margin: 0px;
  border-radius: 10px;
  box-shadow: 5px 10px 18px black;
  max-width: 80%;
  align-items: center;
  background-color: #191919;
}

.awards_container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  background-color: #191919;
}

.awards_and_video {
  display: flex;
  flex-direction: row;
}

.award_1 {
  flex-basis: 100%;
  max-width: 200px;
  max-height: 200px;
  padding: 10px;
}

.award_2 {
  max-width: 300px;
  max-height: 200px;
  padding: 10px;
}

.video_1 {
  border-radius: 20px;
  /* border: 0px solid; */
  padding: 20px;
  padding-left: 0;
  /* box-shadow: 5px 10px 18px black; */
  text-decoration: none;
  outline: 0;
}

.more_to_come {
  font-size: 16px;
  text-align: center;
  padding: 40px;
  padding-top: 200px;
  text-decoration: none;
  color: white;
}

.text_container {
  position: absolute;
}

.intro_area {
  height: 800px;
  /* display: flex;
  flex-direction: row;
  justify-content: space-between; */
  margin: 0;
  padding: 0;
  align-content: center;
  padding: 20px;
  z-index: 4;
  align-content: center;
  background-image: -webkit-linear-gradient(160deg, #212121 50%, #323232 50%);
  /* background-image: -webkit-linear-gradient(30deg, #013A6B 50%, #004E95 50% ); */
}

.logo_and_intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  width: 1200px;
  /* align-items: center; */
  max-width: 80%;
  margin: auto;
  margin-top: 12%;
  font-size: 20px;
  padding: 20px;
  border-radius: 20px;
}

@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) and (stroke-color: transparent) {
    .logo_and_intro {
      display: inline-block;
      flex-direction: column;
      justify-content: center;
      height: 300px;
      width: 1200px;
      /* align-items: center; */
      max-width: 80%;
      margin-left: 12%;
      margin-top: 12%;
      font-size: 20px;
      padding: 20px;
      border-radius: 20px;
    }
    .intro_logo {
      text-align: center;
      display: inline-block;
      flex-direction: row;
    }

    .our_storey_so_far {
      display: inline-block;
      line-height: 88px;
      padding-left: 20px;
      padding-top: 12px;
    }
    .our_storey {
      color: white;
    }
  }
}

.intro_logo {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.brownstub_logo_2 {
  /* position: relative; */
  filter: drop-shadow(5px 5px 5px #222);
  max-width: auto;
  max-height: 200px;
  padding: 0px;
  top: 5px;
  margin-right: 30px;
}

.brownstub_logo_2,
h3 {
  font-size: 6.5rem;
  color: white;
}

.our_storey_so_far {
  display: flex;
  flex-direction: column;
  line-height: 88px;
  padding-left: 20px;
  padding-top: 12px;
}

.so_far {
  width: fit-content;
}

.intro {
  color: white;
  /* position: relative; */
  float: left;
  /* text-shadow: 3px 3px black; */
}

.submissions_title {
  font-family: "Impact";
  background-image: -webkit-linear-gradient(160deg, #212121 50%, #323232 50%);
  font-size: 5rem;
  color: #d19358;
  text-align: center;
  margin-top: 54px;
  padding: 20px;
  text-shadow: 5px 5px #161616;
}

.title_submit {
  color: #d19358;
}

.title_a {
  color: #e9c5a1;
}

.title_storey {
  color: #fdedda;
}

/* NEWS PAGE */

.news_title {
  font-family: "Impact";
  background-image: -webkit-linear-gradient(160deg, #212121 50%, #323232 50%);
  font-size: 5rem;
  color: #d19358;
  margin-top: 54px;
  text-align: center;
  padding: 20px;
  text-shadow: 5px 5px #161616;
}

.news_section {
  height: 62vh;
  width: 100vw;
  background: linear-gradient(90deg, #383838 0%, #a3a3a3 100%);
  display: flex;
  flex-direction: row;
}

.news_container {
  display: flex;
  flex-direction: row;
  height: 600px;
  align-content: center;
}

.news_thumbnail_1 {
  max-height: auto;
  max-width: 30%;
  padding: 20px;
}

.news_wording {
  position: relative;
  padding: 20px;
  text-shadow: 0px;
  max-width: 58%;
}

.news_wording h1 {
  text-decoration: underline;
}

.news_wording h3 {
  font-size: 1.2rem;
  color: black;
}

/* .intro,
h1,
h3 {
  text-shadow: 5px 10px 18px black;
} */

.under-curtis {
  position: relative;
  min-height: 725px;
  z-index: 3;
  max-width: 33%;
  top: 30%;
  left: 10%;
  font-size: 20px;
  line-height: 1.4;
  color: white;
  padding: 0;
  margin: 0;
  margin-top: 300px;
  cursor: auto;
}

.under-curtis h3 {
  font-size: 3rem;
}

.curtis-image {
  position: absolute;
  max-width: 100vw;
  margin: auto;
  cursor: auto;
  /* border: 1px solid red; */
}

.curtis_and_headshot {
  display: flex;
  justify-content: space-between;
}

.curtis_presenter {
  max-width: 100%;
  height: 500px;
  padding: 20px;
}

.presenter_image_and_contact {
  margin-top: 200px;
  display: flex;
  flex-direction: row;
  max-width: 80%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
}

.head_words_submit {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  color: white;
  font-size: 1.5rem;
  margin-top: 4%;
}

.submission_form {
  display: flex;
  flex-direction: column;
}

.form-container {
  text-decoration: none;
  color: white;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  top: 100px;
  background-color: #1f1f1f;
  padding: 20px;
}

input {
  background-color: #a9a9a9;
  color: black;
}

select {
  background-color: #a9a9a9;
}

#subject {
  background-color: #a9a9a9;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

footer {
  position: relative;
  margin: auto;
  margin-bottom: 0px;
  margin-top: 1100px;
  height: 300px;
  width: 100vw;
  background-color: #161616;
  z-index: 4;
}

.copyright {
  text-align: center;
  padding: 130px;
  text-decoration: none;
  color: white;
}

.background_logo_1 {
  margin-top: 20%;
  position: absolute;
  opacity: 50%;
  float: right;
  animation-name: slide_to_right;
  animation-duration: 15s;
}

/*************** Contact Page ****************/

.contact_page_container {
  min-height: 100%;
  height: 100vh;
}

/* .content_container {
  overflow: auto;
  padding-bottom: 300px;
} */

/*************** Video Page ****************/

.project_1_video {
  margin-left: 30%;
  width: 38vw;
  margin-top: 12%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
}

.video_write_up {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: start;
  padding: 50px;
  text-align: center;
  line-height: 1.5rem;
}

.video_write_up h1 {
  color: white;
  font-size: 40px;
}

.video_write_up h3 {
  font-size: 20px;
}

@keyframes slide_to_right {
  from {
    transform: translateX(120%);
  }
  to {
    transform: translateX(-20%);
  }
}

/* Desktops and laptops */
@media only screen and (min-width: 1224px) {
}

/* Large screens */
@media only screen and (min-width: 1824px) {
}

/* Tablets (landscape) */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .nav_container {
    height: 16vh;
    width: auto;
  }

  .nav_links li {
    display: inline-block;
    flex-direction: row-reverse;
    font-size: 18px;
    padding: 20px 18px;
    top: 10px;
    z-index: 6;
  }

  .brownstub_logo_2 {
    margin-bottom: 20px;
    max-width: 26vw;
    text-align: center;
  }

  .intro_area {
    width: 106vw;
    height: 130vh;
    margin-top: -245px;
  }

  .intro_logo {
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .logo_and_intro {
    max-width: 100vw;
    height: auto;
  }

  .text_container {
    position: absolute;
    max-width: 100vw;
    top: 45%;
  }

  .intro {
    max-width: 100%;
    position: relative;
    z-index: 3;
    max-width: 100%;
  }
  .curtis-image {
    max-width: 116vw;
    margin: 65% 0px 50px 0px;
  }

  .under-curtis {
    max-width: 100%;
    margin-top: 150%;
  }
  .our_storey_so_far h3 {
    text-align: initial;
    line-height: 90px;
  }

  .curtis_head {
    width: 116vw;
    flex-direction: column;
    height: 100vh;
  }
  footer {
    visibility: hidden;
  }
}

/* Tablets (portrait) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  header {
    z-index: 10;
  }

  .nav_container {
    height: 16vh;
    width: auto;
  }

  .nav_links li {
    display: inline-block;
    flex-direction: row-reverse;
    font-size: 18px;
    padding: 20px 18px;
    top: 10px;
    z-index: 6;
  }

  .brownstub_logo_2 {
    margin-bottom: 20px;
    max-width: 26vw;
    text-align: center;
  }

  .intro_area {
    width: 106vw;
    height: 130vh;
    margin-top: -245px;
  }

  .intro_logo {
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .logo_and_intro {
    max-width: 100vw;
    height: auto;
  }

  .text_container {
    position: absolute;
    max-width: 100vw;
    top: 45%;
  }

  .intro {
    max-width: 100%;
    position: relative;
    z-index: 3;
    max-width: 100%;
  }
  .curtis-image {
    max-width: 116vw;
    margin: 65% 0px 50px 0px;
  }

  .under-curtis {
    max-width: 100%;
    margin-top: 150%;
  }
  .our_storey_so_far h3 {
    text-align: initial;
    line-height: 90px;
  }

  .curtis_head {
    width: 116vw;
    flex-direction: column;
    height: 100vh;
  }
  footer {
    visibility: hidden;
  }
}

/* Smartphones (landscape) */
@media only screen and (min-width: 321px) {
}

/* Smartphones (portrait) */
@media only screen and (max-width: 375px) {
  .logo-image {
    max-width: 100vw;
  }
  nav {
    flex: none;
    max-width: 100vw;
    font-size: 1rem;
  }

  ul {
  }

  ul li {
    padding: 2px;
  }
  .nav_container {
    height: 16vh;
    width: auto;
  }

  .nav_links li {
    display: inline-block;
    flex-direction: row;
    font-size: 16px;
    padding: 10px 15px;
    z-index: 6;
    text-align: center;
  }

  .brownstub_logo_2 {
    margin-left: 17%;
    margin-bottom: 20px;
    max-width: 60vw;
    text-align: center;
  }

  .intro_area {
    width: 106vw;
    height: 130vh;
    margin-top: -245px;
  }

  .intro_logo {
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .logo_and_intro {
    max-width: 100vw;
    height: auto;
  }

  .text_container {
    position: absolute;
    max-width: 100vw;
    top: 45%;
  }

  .intro {
    max-width: 100%;
    position: relative;
    z-index: 3;
    max-width: 100%;
  }
  .curtis-image {
    max-width: 116vw;
    margin: 65% 0px 50px 0px;
  }

  .under-curtis {
    max-width: 100%;
    margin-top: 150%;
  }
  .our_storey_so_far h3 {
    text-align: initial;
    line-height: 90px;
  }

  .curtis_head {
    width: 116vw;
    flex-direction: column;
    height: 100vh;
  }

  .submissions_title {
    width: 90vw;
    font-size: 3rem;
    margin-top: 8rem;
  }

  .presenter_image_and_contact {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
  }

  .curtis_presenter {
    width: 100vw;
    height: auto;
    padding: inherit;
  }

  .projects h1 {
    max-width: 100vw;
    font-size: 5rem;
    margin-top: 4rem;
  }

  .project_1_poster {
    width: 100vw;
    border: none;
    border-radius: 0px;
    z-index: 1;
    cursor: pointer;
  }

  .news_title h1 {
    font-size: 5rem;
    margin-top: 4rem;
  }

  .news_container {
    display: flex;
    flex-direction: column;
    height: 600px;
    align-content: center;
  }

  .news_section {
    padding: 0rem;
  }

  .news_thumbnail_1 {
    max-height: auto;
    max-width: 100vw;
    padding: 0rem;
  }

  .form-container {
    padding-top: 20px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .news_thumbnail_1 {
    max-height: auto;
    max-width: 100vw;
  }

  .news_wording {
    max-width: 100vw;
    background-color: #161616;
    padding: 2rem;
  }
  .news_wording h1 {
    color: white;
    max-width: 100vw;
  }

  .news_wording h3 {
    color: white;
    max-width: 100vw;
  }

  .news_section {
    height: auto;
    max-width: 100vw;
    background-color: #323232;
    display: flex;
    flex-direction: row;
  }

  footer {
    visibility: hidden;
  }
}

/**********Conact form*********/
